
@font-face {
  font-family: "Sky Text";      
  src: url('../fonts/sky-text-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Sky Text";      
  src: url('../fonts/sky-text-bold-normal.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
